.about-container-flex {
  width: 100%;
  display: flex;
  justify-content: center;
}

.about {
  margin: 10rem auto;
}

.about-img-container {
  margin: 3rem
}

.about-img {
  position: relative;
}

.about-img>img {
  border-radius: 5%;
  width: 300px;
  height: auto;
  position: relative;
}

/* -----animation-about------- */
.circle {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: var(--canvas-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  bottom: 119px;
  left: 102px;
  transform: translate(0%, 100%);
}

.logo {
  position: absolute;
  width: 120px;
  height: 120px;
  background-image: url('../img/about-emoji.png');
  background-size: cover;
  border-radius: 50%;
}

.text {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotateText 10s linear infinite;
  border-radius: 50%;
}

.text p {
  font-weight: 800;
  color: var(--text-color-primary);
}

@keyFrames rotateText {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.text span {
  position: absolute;
  left: 50%;
  font-size: 1.2em;
  transform-origin: 0 100px;
}

/* -----animation-about-end--- */
.about-container {
  display: flex;
  flex-direction: column;
  margin: 5rem 1.5rem;
  gap: 1.2rem;
  max-width: 1000px;
}

.about-container p {
  letter-spacing: 0.1rem;
  line-height: 2rem;
}

.about-container span {
  font-weight: 700;
  transition: 0.8s;
}

.about-container:hover h2,
.about-container:hover span {
  color: var(--text-color-secondary);
}

@media (min-width: 576px) {
  .about-img>img {
    width: 400px;
  }

  .circle {
    width: 200px;
    height: 200px;
    bottom: 138px;
    left: 287px;
  }
}

@media (min-width: 768px) {}

@media (min-width: 992px) {
  .about-container {
    margin: 2rem 0rem 2rem 3rem;
  }

  .about {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .about-img>img {
    width: 500px;
  }

  .circle {
    bottom: 143px;
    left: 385px;
  }
}

@media (min-width: 1400px) {}